build/
out/
bin/

# Maven Build Directory
target/

# IDEA-specific
.idea
*.iml

# Eclipse-specific
.settings
.project
.classpath
/kovacs-tamas/2/eclipse-project/nbproject/private/
/pinter-david/2/project/nbproject/private/
/pinter-david/2/project/dist/