<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>Login</filter-name>
  	<filter-class>filters.Login</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Login</filter-name>
  	<url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userservlet</servlet-name>
  	<servlet-class>servlets.Userservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostsServlet</servlet-name>
  	<servlet-class>servlets.PostsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Post</servlet-name>
  	<servlet-class>servlets.Post</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userservlet</servlet-name>
  	<url-pattern>/Userservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostsServlet</servlet-name>
  	<url-pattern>/Posts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Post</servlet-name>
  	<url-pattern>/secured/Post</url-pattern>
  </servlet-mapping>
</web-app>
