<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>Login</filter-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<filter-class>filters.Login</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Login</filter-name>
  	<url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userservlet</servlet-name>
  	<display-name>Userservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.Userservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostsServlet</servlet-name>
  	<display-name>PostsServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.PostsServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userservlet</servlet-name>
  	<url-pattern>/Userservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostsServlet</servlet-name>
  	<url-pattern>/Posts</url-pattern>
  </servlet-mapping>
</web-app>
